*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.inter{
  font-family:"Inter",sans-serif;
}

.container{
  max-width:1360px;
  margin:0 auto;
  padding:0 120px;
}


.nav{
  border-bottom:1px solid #e5e7eb;
}

.nav-inner{
  height:92px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  height:36px;
}

.nav-links{
  display:flex;
  gap:32px;
  list-style:none;
  color:#334155;
  font-weight:500;
}


.btn{
  background:#22c55e;
  color:#fff;
  border:none;
  padding:12px 22px;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
}

.btn.outline{
  background:transparent;
  border:1px solid #22c55e;
  color:#22c55e;
}


#banner{
  position:relative;
  height:674px;
  display:flex;
  align-items:center;
}

.banner-bg{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  inset:0;
  background:#012344cc;
  opacity:.85;
}


.banner-content{
  position:relative;
  max-width:900px;
  color:#fff;
}


.badge-wrapper{
  display:flex;
  justify-content:center;   
  margin-bottom:20px;
}

.badge{
  background:#ffffff;
  color:#22c55e;
  padding:6px 18px;
  border-radius:999px;
  font-size:14px;
  font-weight:600;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}


.banner-content h1{
  font-size:56px;
  line-height:1.15;
  margin-bottom:20px;
}

.banner-content h1 span{
  color:#22c55e;
}

.banner-content p{
  max-width:760px;
  font-size:16px;
  line-height:26px;
  margin-bottom:28px;
}

.hero-btns{
  display:flex;
  gap:16px;
}


.problem{
  padding:96px 0 80px;
  text-align:center;
}

.problem h2{
  font-size:36px;
  font-weight:700;
  margin-bottom:12px;
}

.problem .sub{
  font-size:16px;
  color:#64748b;
  max-width:720px;
  margin:0 auto 48px;
}

.problem-grid{
  display:grid;
  grid-template-columns:repeat(4,322px);
  justify-content:center;
  gap:24px;
}

.card{
  height:300px;
  background:#fff;
  border-radius:12px;
  padding:32px 24px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  box-shadow:0 0 8px rgba(0,0,0,0.06);
}

.card h3{
  font-size:18px;
  margin-bottom:8px;
}

.card p{
  font-size:14px;
  color:#64748b;
  line-height:22px;
}

.card.active{
  outline:2px solid #7c3aed;
}


.icon-circle{
  width:60px;
  height:60px;
  background:rgba(249,85,85,1);
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:20px;
}

.icon-circle img{
  width:24px;
  height:24px;
}


.solution{
  padding:96px 0;
}

.solution-grid{
  display:grid;
  grid-template-columns:600px 700px;
  gap:60px;
  align-items:center;
}

.solution-img{
  width:600px;
  height:600px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.solution-img img{
  max-width:100%;
  max-height:100%;
}

.solution-text .label{
  font-size:12px;
  letter-spacing:1px;
  color:#22c55e;
  font-weight:600;
}

.solution-text h2{
  font-size:36px;
  margin:12px 0;
}

.solution-text p{
  font-size:15px;
  color:#64748b;
  line-height:24px;
  margin-bottom:20px;
  max-width:700px;
}

.solution-text ul{
  list-style:none;
}

.solution-text li{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:15px;
  margin-bottom:12px;
}


.cta{
  background:#f9f8f4;
  padding:96px 40px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  text-align:center;
}

.cta h2{
  font-size:32px;
  margin-bottom:12px;
}

.cta p{
  font-size:15px;
  color:#64748b;
  margin-bottom:20px;
}

.cta small{
  display:block;
  margin-top:12px;
  color:#64748b;
}



footer{
  background:#001931;
  color:#ffffff;
  padding-top:60px;
}

.footer-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  padding-bottom:30px;
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.footer-logo img{
  height:40px;
}


.footer-social{
  text-align:right;
}

.footer-social h4{
  font-size:20px;
  font-weight:600;
  margin-bottom:12px;
}

.social-icons{
  display:flex;
  justify-content:flex-end;
  gap:12px;
}

.social-icons a{
  width:36px;
  height:36px;
  background:#ffffff;
  color:#001931;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:16px;
  transition:0.3s ease;
}

.social-icons a:hover{
  background:#22c55e;
  color:#ffffff;
}


.footer-bottom{
  text-align:center;
  padding:20px 0;
  font-size:14px;
  color:#94a3b8;
}
