
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.nav{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    padding-top: 16px;
    padding-right: 120px;
    padding-bottom: 16px;
    padding-left: 120px;
   color: #FFFFFF;
}

.nav-content{
    display: flex;
    width: 365px;
    gap: 32px;

    padding-top: 34px;
    padding-bottom: 34px;
    color: #000000;
    list-style: none;
}

.logo{
    margin-left:120px ;
    padding: 16px;
}
.btn{
    font-weight: 600;
    border: none;
 background-color:#30BD86;

width: 164px;
height: 44px;

padding: 12px 16px 12px 16px;

}